In [1]:
import pandas as pd

mimic_drug_lab_1 = pd.read_csv('mimic_drug_lab_1.csv')
mimic_drug_lab_2 = pd.read_csv('mimic_drug_lab_2.csv')
mimic_drug_lab_3 = pd.read_csv('mimic_drug_lab_3.csv')
mimic_drug_lab_4 = pd.read_csv('mimic_drug_lab_4.csv')
mimic_drug_lab_5 = pd.read_csv('mimic_drug_lab_5.csv')
mimic_drug_lab_6 = pd.read_csv('mimic_drug_lab_6.csv')
mimic_drug_lab_7 = pd.read_csv('mimic_drug_lab_7.csv')

mimic_drug_lab = pd.concat([mimic_drug_lab_1, mimic_drug_lab_2, mimic_drug_lab_3, mimic_drug_lab_4, mimic_drug_lab_5, mimic_drug_lab_6, mimic_drug_lab_7])
mimic_drug_lab.head()

,patientunitstayid,hospitalid,death,acetamin,biotene,compazine,ferrous,imdur,lidocaine,milk of magnesia,...,paco2,ph,albu_lab,bands,bun,hct,inr,lactate,platelets,wbc
0,23,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.217771,0.000000,-0.613170,1.290127,-0.968423,0.0,-0.231737,0.0
1,34,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.279098,0.410239,2.114901,0.0,0.821912,0.0
2,36,-1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.849421,-0.639203,0.000000,0.000000,-0.459952,1.678035,-0.610936,0.0,-0.197503,0.0
3,85,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.424926,1.112835,-0.667247,-0.753484,-0.432193,0.0,-1.627727,0.0
4,107,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.000000,-0.235778,0.000000,2.361057,-0.371884,-0.968423,0.0,-0.732569,0.0

In [2]:
mimic_drug_lab.to_csv('mimic_drug_lab.csv', index=False)

In [3]:
mimic_lab_time_1 = pd.read_csv('mimic_lab_time_1.csv')
mimic_lab_time_2 = pd.read_csv('mimic_lab_time_2.csv')
mimic_lab_time_3 = pd.read_csv('mimic_lab_time_3.csv')
mimic_lab_time_4 = pd.read_csv('mimic_lab_time_4.csv')
mimic_lab_time_5 = pd.read_csv('mimic_lab_time_5.csv')
mimic_lab_time_6 = pd.read_csv('mimic_lab_time_6.csv')
mimic_lab_time_7 = pd.read_csv('mimic_lab_time_7.csv')

mimic_lab_time = pd.concat([mimic_lab_time_1, mimic_lab_time_2, mimic_lab_time_3, mimic_lab_time_4, mimic_lab_time_5, mimic_lab_time_6, mimic_lab_time_7])
mimic_lab_time.head()

,Unnamed: 0,patientunitstayid,hospitalid,time_window,death,ventilator,sepsis,acetamin,biotene,compazine,...,paco2,ph,albu_lab,bands,bun,hct,inr,lactate,platelets,wbc
0,0.0,23,-1.0,-1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,1.217771,0.0,-0.640209,1.469889,-0.968423,0.0,-0.136642,0.0
1,0.0,23,-1.0,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0
2,0.0,23,-1.0,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,-0.586132,1.110365,-0.968423,0.0,-0.326832,0.0
3,0.0,23,-1.0,2,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.0
4,0.0,23,-1.0,3,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.000000,0.0,-0.532055,0.864375,-1.147167,0.0,-0.380085,0.0

In [4]:
mimic_lab_time_death = mimic_lab_time[mimic_lab_time['death'] == 1]
death_time_window = pd.Series(mimic_lab_time_death['time_window'].values, index=mimic_lab_time_death['patientunitstayid']).to_dict() # key: patientunitstayid, value: time window

mimic_lab_time_cp = mimic_lab_time.copy()
for patientunitstayid, time_window in death_time_window.items():
    mimic_lab_time_cp.loc[(mimic_lab_time_cp['patientunitstayid'] == patientunitstayid) & (mimic_lab_time_cp['time_window'] > time_window), mimic_lab_time_cp.columns[7:-31]] = 0   
    
mimic_lab_time_cp.to_csv('mimic_lab_time.csv', index=False)

In [8]:
check_mimic = pd.read_csv('mimic_lab_time.csv')

,Unnamed: 0,patientunitstayid,hospitalid,time_window,death,ventilator,sepsis,acetamin,biotene,compazine,...,paco2,ph,albu_lab,bands,bun,hct,inr,lactate,platelets,wbc
490,0.0,1535,-1.0,-1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
491,0.0,1535,-1.0,0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,2.361057,0.202093,0.461524,0.000000,-0.090997,0.0
492,0.0,1535,-1.0,1,0.0,0.0,0.0,1.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
493,0.0,1535,-1.0,2,0.0,1.0,0.0,1.0,0.0,0.0,...,-1.323534,-2.561358,-0.632201,1.480913,0.711713,0.517465,1.593566,2.250105,-0.689460,0.0
494,0.0,1535,-1.0,3,1.0,0.0,0.0,1.0,0.0,0.0,...,-1.489993,-1.957252,0.000000,0.000000,0.000000,0.504851,2.338330,2.250105,-0.661565,0.0
495,0.0,1535,-1.0,4,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
496,0.0,1535,-1.0,5,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0

In [16]:
eicu_medication = pd.read_csv('data/eicu/medication.csv')
eicu_medication[(eicu_medication['drugstartoffset'] >= 0) & (eicu_medication['drugstopoffset'] < eicu_medication['drugstartoffset'])].head()

/var/folders/wd/d0j10lq906x4lfc0bphzybd80000gn/T/ipykernel_69334/4128343302.py:1: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  eicu_medication = pd.read_csv('data/eicu/medication.csv')

,medicationid,patientunitstayid,drugorderoffset,drugstartoffset,drugivadmixture,drugordercancelled,drugname,drughiclseqno,dosage,routeadmin,frequency,loadingdose,prn,drugstopoffset,gtc
8,7636934,141178,8,35,No,No,ENOXAPARIN SODIUM 40 MG/0.4ML SC SOLN,NaN,40 3,SC,Q24H,NaN,No,10,0
25,7573839,141194,12031,13422,No,No,VANCOMYCIN 1.25 GM IN NS 250 ML IVPB (REPACKAGE),10093.0,"1,250 3",IV,Daily,NaN,No,12622,19
66,11370536,141229,330,664,No,No,WARFARIN SODIUM 3 MG PO TABS,2812.0,3 3,PO,Q Evening,NaN,No,604,0
84,8843758,141244,7887,9900,No,No,WARFARIN - PHYSICIAN MONITORED,NaN,1 5001,PO,Q Evening,NaN,No,8416,0
170,6947095,141288,8,217,No,No,3 ML - IPRATROPIUM-ALBUTEROL 0.5-2.5 (3) MG/...,NaN,3 1,NEBULIZATION,4x Daily Resp,NaN,No,18,0

In [14]:
len(eicu_medication)

7301853