In [1]:
import pandas as pd

lab_time_148_281 = pd.read_csv('eicu_lab_time_148_281.csv')
lab_time_167_420 = pd.read_csv('eicu_lab_time_167_420.csv')
lab_time_199_458 = pd.read_csv('eicu_lab_time_199_458.csv')
lab_time_252_165 = pd.read_csv('eicu_lab_time_252_165.csv')
lab_time_449_283 = pd.read_csv('eicu_lab_time_449_283.csv')

# combine all the lab time data
lab_time = pd.concat([lab_time_148_281, lab_time_167_420, lab_time_199_458, lab_time_252_165, lab_time_449_283])

nan_columns = lab_time.columns[lab_time.isnull().any()].tolist()
lab_time[nan_columns] = lab_time[nan_columns].fillna(0.0)

# export csv
lab_time.to_csv('eicu_lab_time.csv', index=False)

In [2]:
lab_time.head()

,Unnamed: 0,patientunitstayid,hospitalid,time_window,death,ventilator,sepsis,acetamin,biotene,compazine,...,paco2,ph,albu_lab,bands,bun,hct,inr,lactate,platelets,wbc
0,0.0,534765.0,148.0,-1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.598123,-0.851227,-0.668347,-0.90115,-0.435625,-0.240777,-0.764793,-0.355136,2.444322,2.43223
1,1.0,534765.0,148.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.844327,-1.564003,0.000000,-0.37880,-0.326443,-0.734638,-0.593025,-0.235366,2.444322,2.43223
2,2.0,534765.0,148.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
3,3.0,534765.0,148.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
4,4.0,534765.0,148.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000

In [3]:
lab_time.columns[-12:]

Index(['o2sat', 'pao2', 'paco2', 'ph', 'albu_lab', 'bands', 'bun', 'hct',
       'inr', 'lactate', 'platelets', 'wbc'],
      dtype='object')

In [8]:
lab_time_1 = pd.read_csv('mimic_data_1.csv')
lab_time_2 = pd.read_csv('mimic_data_2.csv')
lab_time_3 = pd.read_csv('mimic_data_3.csv')
lab_time_4 = pd.read_csv('mimic_data_4.csv')
lab_time_5 = pd.read_csv('mimic_data_5.csv')

lab_time_mimic = pd.concat([lab_time_1, lab_time_2, lab_time_3, lab_time_4, lab_time_5])
lab_time_mimic.head()

nan_columns = lab_time_mimic.columns[lab_time_mimic.isnull().any()].tolist()
lab_time_mimic[nan_columns] = lab_time_mimic[nan_columns].fillna(0.0)

# set death column from integer to float
lab_time_mimic['death'] = lab_time_mimic['death'].astype(float)

lab_time_mimic.to_csv('mimic_drug_lab.csv', index=False)

In [9]:
lab_time_mimic.head()

,patientunitstayid,hospitalid,death,acetamin,biotene,compazine,ferrous,imdur,lidocaine,milk of magnesia,...,paco2,ph,albu_lab,bands,bun,hct,inr,lactate,platelets,wbc
0,2,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.000000,0.000000,-0.543518,0.000000,-0.053358,0.000000,0.000000,-0.612116,0.000000
1,4,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.579970,0.197653,0.782483,-0.009804,-0.599396,-0.119215,-0.993958,0.215618,0.333442,0.015142
2,6,-1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.532633,-0.488569,0.896858,1.076027,0.481041,0.052686,-0.273877,0.258150,0.749749,0.000000
3,8,-1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.000000,0.000000,-0.727557,0.000000,2.557923,0.000000,0.000000,0.220914,0.000000
4,9,-1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.504097,0.463654,-0.301849,0.000000,-0.277121,1.277512,-0.744994,-0.204394,0.306499,0.000000

In [10]:
eicu_drug_lab_148_281 = pd.read_csv('eicu_drug_lab_148_281.csv')
eicu_drug_lab_167_420 = pd.read_csv('eicu_drug_lab_167_420.csv')
eicu_drug_lab_199_458 = pd.read_csv('eicu_drug_lab_199_458.csv')
eicu_drug_lab_252_165 = pd.read_csv('eicu_drug_lab_252_165.csv')
eicu_drug_lab_449_283 = pd.read_csv('eicu_drug_lab_449_283.csv')

# combine all the lab time data
eicu_drug_lab = pd.concat([eicu_drug_lab_148_281, eicu_drug_lab_167_420, eicu_drug_lab_199_458, eicu_drug_lab_252_165, eicu_drug_lab_449_283])
eicu_drug_lab.head()

nan_columns = eicu_drug_lab.columns[eicu_drug_lab.isnull().any()].tolist()
eicu_drug_lab[nan_columns] = eicu_drug_lab[nan_columns].fillna(0.0)

eicu_drug_lab.to_csv('eicu_drug_lab.csv', index=False)

In [11]:
pd.read_csv('eicu_drug_lab.csv').head()

,patientunitstayid,hospitalid,death,acetamin,biotene,compazine,ferrous,imdur,lidocaine,milk of magnesia,...,paco2,ph,albu_lab,bands,bun,hct,inr,lactate,platelets,wbc
0,534765.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.680191,-1.088819,-0.668347,-0.552916,-0.408329,-0.438321,-0.678909,-0.315213,2.444322,2.432230
1,534851.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.575741,0.322756,-0.599267,0.000000,0.410532,1.184512,-0.077720,0.183829,-0.225811,-0.409076
2,535077.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.542241,0.000000,-0.572101,1.576018,-1.108329,0.000000,0.455925,-0.581276
3,535557.0,148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.634934,0.231277,-0.628873,0.000000,-1.021063,0.025345,-0.593025,-1.013871,0.007431,-0.353042
4,535558.0,148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.022462,0.000000,-0.490215,-0.051421,0.000000,0.000000,0.081917,-1.011777

In [36]:
# select the first 240 columns and last 12 columns of eicu_drug_lab
first_240_columns = eicu_drug_lab.iloc[:, :240]
last_12_columns = eicu_drug_lab.iloc[:, -12:]
selected_eicu_drug_lab = pd.concat([first_240_columns, last_12_columns], axis=1)
selected_eicu_drug_lab

,patientunitstayid,hospitalid,death,acetamin,biotene,compazine,ferrous,imdur,lidocaine,milk of magnesia,...,paco2,ph,albu_lab,bands,bun,hct,inr,lactate,platelets,wbc
0,534765.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.680191,-1.088819,-0.668347,-0.552916,-0.408329,-0.438321,-0.678909,-0.315213,2.444322,2.432230
1,534851.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.575741,0.322756,-0.599267,0.000000,0.410532,1.184512,-0.077720,0.183829,-0.225811,-0.409076
2,535077.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.542241,0.000000,-0.572101,1.576018,-1.108329,0.000000,0.455925,-0.581276
3,535557.0,148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.634934,0.231277,-0.628873,0.000000,-1.021063,0.025345,-0.593025,-1.013871,0.007431,-0.353042
4,535558.0,148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.022462,0.000000,-0.490215,-0.051421,0.000000,0.000000,0.081917,-1.011777
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4202,3247220.0,449.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.396683,-0.306163,0.000000,0.000000,-0.248456,0.694306,-0.764793,-0.534791,-0.349579,-0.068775
4203,3247294.0,449.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,-0.699480,1.586254,-0.936561,0.000000,0.080339,-0.080620
4204,3247337.0,449.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,-1.602796,1.790236,0.000000,0.000000,-0.926941,0.255643,0.000000,-0.564734,0.062980,0.805893
4205,3247410.0,449.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.000000,0.000000,0.000000,-0.574583,-0.767903,0.000000,0.000000,0.723675,-0.316598
4206,3247417.0,449.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.871186,-0.040620,-0.668347,0.000000,0.509478,0.081640,-0.936561,-0.415021,0.747241,0.113265

In [40]:
# Combine mimic and eicu data
combined_data = pd.concat([lab_time_mimic, selected_eicu_drug_lab])
combined_data.to_csv('eicu_mimic_dataset.csv', index=False)

In [41]:
nan_columns = combined_data.columns[combined_data.isnull().any()].tolist()
nan_columns

[]