In [1]:
import pandas as pd

mimic_admissions = pd.read_csv('data/mimic/ADMISSIONS.csv')
mimic_admissions.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ADMITTIME,DISCHTIME,DEATHTIME,ADMISSION_TYPE,ADMISSION_LOCATION,DISCHARGE_LOCATION,INSURANCE,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_IOEVENTS_DATA,HAS_CHARTEVENTS_DATA
0,90,87,190659,2191-02-25 20:30:00,2191-04-25 15:18:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,SHORT TERM HOSPITAL,Private,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,NEWBORN,0,1,1
1,91,88,123010,2111-08-29 03:03:00,2111-09-03 14:24:00,NaN,EMERGENCY,EMERGENCY ROOM ADMIT,HOME,Private,NaN,NaN,NaN,BLACK/AFRICAN AMERICAN,2111-08-29 01:44:00,2111-08-29 02:28:00,S/P MOTOR VEHICLE ACCIDENT-STABBING,0,1,1
2,92,89,188646,2185-06-17 05:22:00,2185-06-21 11:15:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,SHORT TERM HOSPITAL,Medicaid,NaN,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,NaN,NaN,NEWBORN,0,1,1
3,93,91,121205,2177-04-23 00:08:00,2177-05-10 15:16:00,2177-05-10 15:16:00,EMERGENCY,EMERGENCY ROOM ADMIT,DEAD/EXPIRED,Medicare,NaN,JEWISH,MARRIED,WHITE,2177-04-22 21:02:00,2177-04-23 04:03:00,FEVER,1,1,1
4,94,92,142807,2122-12-13 19:30:00,2123-03-04 13:47:00,NaN,NEWBORN,PHYS REFERRAL/NORMAL DELI,SHORT TERM HOSPITAL,Medicaid,NaN,UNOBTAINABLE,NaN,WHITE,NaN,NaN,NEWBORN,0,1,1

In [2]:
mimic_admissions['ETHNICITY'].unique()

array(['UNKNOWN/NOT SPECIFIED', 'BLACK/AFRICAN AMERICAN', 'WHITE',
       'ASIAN', 'PATIENT DECLINED TO ANSWER', 'HISPANIC OR LATINO',
       'HISPANIC/LATINO - GUATEMALAN', 'MULTI RACE ETHNICITY', 'OTHER',
       'ASIAN - VIETNAMESE', 'AMERICAN INDIAN/ALASKA NATIVE',
       'WHITE - RUSSIAN', 'HISPANIC/LATINO - PUERTO RICAN',
       'ASIAN - CHINESE', 'ASIAN - ASIAN INDIAN',
       'HISPANIC/LATINO - SALVADORAN', 'HISPANIC/LATINO - DOMINICAN',
       'BLACK/AFRICAN', 'UNABLE TO OBTAIN', 'BLACK/CAPE VERDEAN',
       'BLACK/HAITIAN', 'WHITE - OTHER EUROPEAN', 'PORTUGUESE',
       'WHITE - EASTERN EUROPEAN', 'SOUTH AMERICAN', 'ASIAN - FILIPINO',
       'ASIAN - CAMBODIAN', 'CARIBBEAN ISLAND', 'ASIAN - KOREAN',
       'HISPANIC/LATINO - COLOMBIAN',
       'HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)', 'WHITE - BRAZILIAN',
       'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER', 'ASIAN - JAPANESE',
       'ASIAN - THAI', 'HISPANIC/LATINO - CUBAN', 'MIDDLE EASTERN',
       'HISPANIC/LATINO - HONDURAN', 'ASIAN - OTHER',
       'HISPANIC/LATINO - MEXICAN',
       'AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE'],
      dtype=object)

In [3]:
eicu_drug_lab = pd.read_csv('eicu_drug_lab.csv')
eicu_drug_lab.head()

,patientunitstayid,hospitalid,death,acetamin,biotene,compazine,ferrous,imdur,lidocaine,milk of magnesia,...,paco2,ph,albu_lab,bands,bun,hct,inr,lactate,platelets,wbc
0,534765.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.680191,-1.088819,-0.668347,-0.552916,-0.408329,-0.438321,-0.678909,-0.315213,2.444322,2.432230
1,534851.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.575741,0.322756,-0.599267,0.000000,0.410532,1.184512,-0.077720,0.183829,-0.225811,-0.409076
2,535077.0,148.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,1.542241,0.000000,-0.572101,1.576018,-1.108329,0.000000,0.455925,-0.581276
3,535557.0,148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.634934,0.231277,-0.628873,0.000000,-1.021063,0.025345,-0.593025,-1.013871,0.007431,-0.353042
4,535558.0,148.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.022462,0.000000,-0.490215,-0.051421,0.000000,0.000000,0.081917,-1.011777

In [14]:
mimic_items = pd.read_csv('data/mimic/D_ITEMS.csv')
mimic_items[mimic_items['ITEMID'] == 763]

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
1236,688,763,Daily Weight,NaN,carevue,chartevents,NaN,NaN,NaN,NaN

In [10]:
mimic_icu_stays = pd.read_csv('data/mimic/ICUSTAYS.csv')
mimic_icu_stays.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,DBSOURCE,FIRST_CAREUNIT,LAST_CAREUNIT,FIRST_WARDID,LAST_WARDID,INTIME,OUTTIME,LOS
0,132,109,139061,257358,metavision,MICU,MICU,52,52,2141-09-11 10:13:28,2141-09-12 16:53:07,1.2775
1,133,109,172335,262652,metavision,MICU,MICU,23,23,2141-09-20 20:44:36,2141-09-22 21:44:50,2.0418
2,134,109,126055,236124,metavision,MICU,SICU,23,57,2141-10-13 23:11:01,2141-10-25 20:49:04,11.9014
3,135,109,125288,257134,metavision,SICU,MICU,57,50,2141-11-18 14:01:37,2141-11-19 21:35:18,1.3151
4,136,109,161950,237552,metavision,MICU,MICU,23,23,2141-11-24 16:12:07,2141-11-26 21:51:50,2.2359